In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.preprocessing import StandardScaler
import requests
import zipfile
import io

In [3]:
def get_movie_lens_data():
    url = "https://files.grouplens.org/datasets/movielens/ml-latest-small.zip"
    response = requests.get(url)
    zip_file = zipfile.ZipFile(io.BytesIO(response.content))

    movies_df = pd.read_csv(zip_file.open('ml-latest-small/movies.csv'))
    ratings_df = pd.read_csv(zip_file.open('ml-latest-small/ratings.csv'))

    return movies_df,ratings_df


movies_df,ratings_df = get_movie_lens_data()

In [4]:
movies_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [5]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
print("Movies: ", len(movies_df))

Movies:  9742

In [9]:
print("Genres:", movies_df['genres'].str.split('|').explode().nunique())

Genres: 20

In [14]:
print(ratings_df['userId'].nunique())

610

In [15]:
print(movies_df.shape,ratings_df.shape)

(9742, 3) (100836, 4)